h1 {
    font-family: sans-serif;
    color: brown;
}

/* date header in post  */
h5 {
    color: grey;
    font-weight: bold;
}

h4 {
    font-style: italic;
    color: palevioletred;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    color: peru;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}