@import "../css/postcss1.css";
@import "../css/postcss2.css";
@import "../css/postcss3.css";

#arch {
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

#elsw {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.dot {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

/*image in post*/
.im1 {
    width: 80%;
    height: 80%;
}

#avatar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

#name {
    font-weight: bold;
}