@media(max-width: 320px) {
    .page {
        display: grid;
        grid-template-rows: 10% 10% 224px 10%;
        grid-template-areas:
            "hd"
            "nb"
            "main"
            "ft";
    }
}

@media(min-width: 600px) and (max-width: 900px) {
    .page {
        display: grid;
        grid-template-rows: 10% 10% 224px 10%;
        grid-template-areas:
            "hd hd hd"
            "main main nb"
            "ft ft ft";
    }
}

@media(min-width: 901px) {
    .page {
        display: grid;
        grid-template-rows: 10% auto 10%;
        grid-template-areas:
            "hd hd hd hd hd hd"
            "main main main main nb nb"
            "ft ft ft ft ft ft";
    }
}

.header {
    display: flex;
    flex-direction: row;
    grid-area: hd;
}

/*Navigation bar*/
.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: nb;
    padding: 0.2rem;
}

#arch {
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

#elsw {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/*maint post*/
.content {
    grid-area: main;
    padding: 1rem;
    /*display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));*/
}

.im1 {
    width: 300px;
    height: 300px;
}

.footer {
    grid-area: ft;
}

/* Blog name */
h1 {
    font-family: sans-serif;
    color: brown;
}
/* date header in post  */
h5 {
    color: grey;
}
h3 {
    color: green;
    font-family: fantasy;
}
h4 {
    color: blue;
    font-family: cursive;
}
.dot {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#avatar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
#name {
    font-weight: bold;
}