@import "./blogcss1.css";
@import "./blogcss2.css";
@import "./blogcss3.css";

.header {
    display: flex;
    flex-direction: row;
    grid-area: hd;
    justify-content: center;
    background-image: url("paper.gif");
}

.navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: nb;
    margin: 0.5rem;
}

.content {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
    gap: 1rem 1rem;
}

.footer {
    grid-area: ft;
    display: flex;
    justify-content: right;
}